# PostgreSQL
POSTGRES_PORT=5432
POSTGRES_DB=users_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# MySQL
MYSQL_PORT=3307
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=tecnoshop_products
MYSQL_USER=tecnoshop
MYSQL_PASSWORD=

# Redis
REDIS_PORT=6379
REDIS_PASSWORD=

# Kafka
ZOOKEEPER_PORT=2181
KAFKA_PORT=9092
